html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  list-style: none;
  text-decoration: none;
	font-family: cursive;
}

body{
	touch-action: none;
	background: #1D1E30;
	min-height: 100vh;
  width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	transition: background-color .3s;
}
.side_bar {
	position: absolute;
  top: 0;
	right: -100%;
  width: 80%;
  height: 100vh;
  background: #332E56;
	transition-duration: .3s;
	z-index: 9999;
}

.side_bar_contents{
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.closeDiv{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 35px;
	height: 35px;
	background-image: url('../resources/icon/ic_close.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	z-index:9999;
	cursor: pointer;
}
.logoutDiv{
	position: absolute;
	top: 30px;
	right: 20px;
	z-index:9999;
}
.logoutDiv{
	font-size: 16px;
	color: #ffffff;
	font-family: "Roboto Light";
}
.side_bar_contents p{
	width: 100%;
	height: 20%;
	color: #6256B1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.userImgSidebar{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.contemp{
		position: absolute;
    width: 30%;
    height: 50%;
}
.userImgSidebar img{
	width: 30%;
	align-self: center;
	border-radius: 100%;
}
.imgAfter{
	position: absolute;
	left: 70%;
	bottom: 0;
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
}
.imgAfter p{
	color: #006fff;
}
.side_bar ul{
	height: 70%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.side_bar ul a{
		width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
		justify-content: center;
		color: #444A47;
		transition-duration: .3s;
		gap:10px;
}
.side_bar ul a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
#licksIcon{
	background-image: url('../resources/icon/licks-icon.png');
}
#sheetsIcon{
	background-image: url('../resources/icon/sheets-icon.png');
}
#downloadIcon{
	background-image: url('../resources/icon/forum-icon.png');
}
#profileIcon{
	background-image: url('../resources/icon/profile-icon.png');
}
.side_bar ul a:hover{
	background-color: #6256B1;
}



.top-down-menu{
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	margin-top: 70px;
	z-index: 9999;
	background-color: #332E56;
	flex-wrap: wrap;
	align-content: space-between;
	transition-duration: .3s;
	visibility: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.549));
	border: 1px solid #6256B1;
}
.top-down-menu::-webkit-scrollbar-corner{
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar {
	width: .4em;

}
.top-down-menu::-webkit-scrollbar,
.top-down-menu::-webkit-scrollbar-thumb {
	overflow:visible;
	border-radius: 4px;
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
}
.top-down-menu span{
	color: #ffffff;
	font-size: 16px;
}
.top-down-menu a{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	transition-duration: .3s;
	gap:10px;
}
.top-down-menu a:hover{
	background-color: #6256B1;
}
.top-down-menu a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#licks-icon2{
	background-image: url('../resources/icon/licks-icon.png');
}
#sheets-icon2{
	background-image: url('../resources/icon/sheets-icon.png');
}
#download-icon2{
	background-image: url('../resources/icon/forum-icon.png');
}
#profile-icon2{
	background-image: url('../resources/icon/profile-icon.png');
}


#user_info:hover .top-down-menu{
	visibility: visible;
	display: flex;
	height: 280px;
	opacity: 1;
}

.con-wrap{
	width: 100%;
	display: flex;
  align-items: flex-start;
  justify-content: center;
	margin: auto;
	overflow: hidden;
	transition-duration: .3s;
}
.contents{
	position: relative;
	width:100%;
	margin: 0 auto;
}

.contents header{
	height: 70px;
	width: 100%;
	transition-duration: .3s;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.headerWrap{
	width: 92.7%;
	height: 100%;
	margin: auto;
	align-items: center;
}
.header-nav{
	display: inline;
}
#header-logo{
	float: left;
	height: 100%;
	font-family: "Arial Black";
	font-size: 30px;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
}
#logout{
	float: right;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
  display: flex;
	margin-left: 9.4%;
}

#user_info{
	float: right;
	width: 27.8%;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 18px;
	color: #ffffff;
	justify-content: space-around;
	align-items: center;
	display: flex;
	white-space: nowrap;
	position: relative;
}
#user_info p{
	width: 100%;
	text-overflow: ellipsis;
	overflow:hidden;
	transition: width 1s, opacity 1s, height 1s;
}
.user_img{
    border-radius: 50%;
		padding-right: 2%;
		transition-duration: .7s;
}
.user_img img{
	width: 35px;
	border-radius: 100%;
	display: inline;
	transition-duration: .7s;
	filter: drop-shadow(0 2px 6px #000000);
}
.subheaderNav{
	width: 100%;
	background-color: #332E56;
}
.headerNavWrap{
	width: 92.7%;
	height: 100%;
	margin: auto;

}
.headerNavWrap ul{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: wrap;
	gap: 7%;
	color: #6256B1;
}
.headerNavWrap a{
		color: #6256B1;
}
.headerNavWrap li{
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 .5em;
}
.headerNavWrap li:hover{
	color: #00FFFF;
	cursor: pointer;
}

#licknav{
	color: #00FFFF;
	border-bottom: 7px solid #00FFFF;
}

.contents main{
	height:calc(100% - 100px);
	width: 92.7%;
	margin: auto;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 300px;
    grid-template-rows: 250px 170px 170px 1fr;
    grid-gap: 24px;
    grid-template-areas:
        "post gAd"
        "post trending"
        "post topUsers"
				"post .";
				margin-bottom: 10px;
				background: #1D1E30;
}
.posts{
	grid-area: post;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.postul{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-flow: wrap;
}
.licks {
	box-sizing: border-box;
	float: left;
	width: 43%;
	height: 250px;
	border-radius: 15px;
	border: 1px solid #332E56;
	font-family: "Roboto";
	font-weight: 600;
	transition-duration: .4s;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
	transition-duration: .2s;
	margin-bottom: 15px;
	margin-right: 15px;
}
 /* .licks:nth-child(3n+2) {
	 margin: 0 3.2%;
 } */
 /* .licks:last-child{
	 padding-bottom: 3.2%;
 } */
 .lickHeader{
	 height: 16.4%;
	 width: 87.2%;
	 position: relative;
	 border-bottom: 1px solid #6256B1;
	 padding-bottom: 4.25%;
	 text-overflow: ellipsis;
	 transition-duration: .2s;
 }
 .lickHeaderTitle{
	 width: 60%;
	 height: 100%;
	 float: left;
	 display: flex;
	 justify-content: flex-start;
	 align-items: space-between;
	 flex-wrap: wrap;
	 align-content: space-between;
 }
 .lickTitle{
	 color: #ffffff;
	 font-size: 18px;
	 width: 100%;
	 text-overflow: ellipsis;
	 overflow: hidden;
	 white-space: nowrap;
	 transition-duration: .2s;
 }
 .lickScale{
	 color: #6256B1;
	 display: inline;
	 float: left;
	 margin-right: 12%;
	 font-size: 12px;
	 transition-duration: .2s;
 }
 .lickAuthor{
	 font-family: "Roboto";
	 font-weight: 600;
	 float: right;
	 color: #6256B1;
	 display: flex;
	 width: 35%;
	 font-size: 12px;
	 transition-duration: .2s;
	 align-items: center;
	 justify-content: center;
	 gap: 5px;
	 word-break: break-all;
     white-space: normal;
 }
 .lickAuthor img{
	 width: 30px;
	 height: 30px;
	 border-radius: 100%;
	 filter: drop-shadow(1px 1px 1px #000000);
 }
 .authorid{
	 overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
 }
 .lickContents{
	 width: 87.2%;
	 height: 38.6%;
	 border-radius: 15px;
 }
 .lickContents canvas{
	 width: 100%;
	 height: 100%;
	 border-radius: 15px;
 }
 .lickOpen{
	 font-family: "Roboto";
	 font-weight: 600;
	 float: right;
	 border-radius: 15px;
	 border: 1px solid #6256B1;
	 background-color: #1D1E30;
	 color: #6256B1;
	 height: 16.4%;
	 width: 87.2%;
	 display: table;
	 font-size: 18px;
	 transition-duration: .2s;
 }
 .lickOpen p{
	 display: inline;
	 text-align: center;
	 display: table-cell;
	 vertical-align: middle;
 }

 .Dorian{
 	color: #ce0000;
 	box-sizing: border-box;
 	float: left;
 }
 .Ionian{

 	color: #ff00a1;
 	box-sizing: border-box;
 	float: left;
 }
 .Phrygian{

 	color: #ff3c00;
 	box-sizing: border-box;
 	float: left;
 }
 .Lydian{

 	color: #ff9900;
 	box-sizing: border-box;
 	float: left;
  }
 .Mixolydian{

 	color: #ffff94;
 	box-sizing: border-box;
 	float: left;
 }
 .Aeolian{

 	color: #efff00;
 	box-sizing: border-box;
 	float: left;
 }
 .Locrian{

 	color: #88ff00;
 	box-sizing: border-box;
 	float: left;
 }
 .Alt{

 	color: rgba(163, 67, 139,.30);
 	box-sizing: border-box;
 	float: left;
 }

 .others{

 	color: rgba(0,0,0,.30);
 	box-sizing: border-box;
 	float: left;
 }

.loadmorebtn{
	color: #332E56;
	font-family: "Roboto";
	font-size: 20px;
	text-align: center;
	width: 160px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.gAd{
	grid-area: gAd;
	width: 100%;
	height: 100%;
	background-color: #332E56;
}
.trending{
	grid-area: trending;
	width: 100%;
	height: 100%;
	background-color: #332E56;
}
.topUsers{
	grid-area: topUsers;
	width: 100%;
	height: 100%;
	background-color: #332E56;
}
.lable{
	color: #00ffff;
	font-size: 14px;
	line-height: 34px;
	font-family: "Arial";
	height: 34px;
	padding-left: 5px;
	border-bottom: 1px solid rgba(68, 74, 71,.2);
}



footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height:50px;
	width: 100%;
	z-index: -1;
	margin: auto;
	text-align: center;


	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.logo{
	font-family: "Arial Black";
	font-size: 18px;
	color: #9C9CA7;
}
.contactinfos{
	font-family: "Roboto Light";
	font-size: 12px;
	color: #9C9CA7;
}




/* footer */
@media (min-width: 780px) {
	.licks{
		width: 70%;
	}
	.postul{
		justify-content: center;
	}
}
@media (min-width: 890px) {
	.top-down-menu {
		width: 150%;
	}
	.licks {
		width: 44%
	}
	.postul{
		justify-content: flex-start;
	}
}
@media (min-width: 1450px) {
	.licks{
		width: 30%;
	}
	.postul{
		justify-content: flex-start;
	}
}


@media (max-width: 780px) {

	.headerWrap{
		width: 92.7%;
	}
	.contents main{
		width: 92.7%;
		grid-template-columns: 1fr;
	    grid-template-rows: 1fr 250px 170px 170px;
	    grid-gap: 24px;
	    grid-template-areas:
	        "post"
					"gAd"
	        "trending"
	        "topUsers";
					margin-bottom: 10px;
					background: #1D1E30;
	}
	#detail{
		width: 90%;
	}
	.licks {
		width: 44%
	}
	.postul{
		justify-content: flex-start;
	}
}
@media (max-width: 600px) {
	.licks {
		width: 70%
	}
	.postul{
		justify-content: center;
	}
}
@media (max-width: 450px) {
	.licks {
		width: 90%
	}
	.postul{
		justify-content: center;
	}
}
@media (min-width: 1000px) {
	.headerWrap{
			width: 88.7%;
	}
	.contents main{
			width: 88.7%;
	}
	.headerNavWrap{
		width: 88.7%;
	}
}
@media (min-height: 848px) {
	/* footer{
		position: absolute;
		bottom: 0;
		right:0;
	} */
}
@media (max-width: 400px) {
	.contents header {
		height: 50px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}
}
@media (max-aspect-ratio: 5/7) {
	.contents header {
		height: 50px;
	}
	.user_img img{
		width: 30px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}

	#user_info{
		justify-content: flex-end;
	}
	#user_info p{
		opacity: 0;
		width: 0;
		height: 0;
	}
	#user_info:hover .top-down-menu{
		visibility: hidden;
		display: none;
	}
	#logout{
		display:none;
	}
}
