html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***
reset end
*/

* {
  list-style: none;
  text-decoration: none;
	font-family: cursive;
}

html{
--thumb-size: 16px;
}

body{
	touch-action: none;
	background: #1D1E30;
	height: 100vh;
	min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.side_bar {
	position: absolute;
  top: 0;
	right: -100%;
  width: 80%;
  height: 100%;
  background: #332E56;
	transition-duration: .3s;
	z-index: 9999;
}

.side_bar_contents{
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.closeDiv{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 35px;
	height: 35px;
	background-image: url('../resources/icon/ic_close.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	z-index:9999;
	cursor: pointer;
}
.logoutDiv{
	position: absolute;
	top: 30px;
	right: 20px;
	z-index:9999;
}
.logoutDiv{
	font-size: 16px;
	color: #ffffff;
	font-family: "Roboto Light";
}
.side_bar_contents p{
	width: 100%;
	height: 20%;
	color: #6256B1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.userImgSidebar{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.contemp{
		position: absolute;
    width: 30%;
    height: 50%;
}
.userImgSidebar img{
	width: 30%;
	align-self: center;
	border-radius: 100%;
}
.imgAfter{
	position: absolute;
	left: 70%;
	bottom: 0;
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
}
.imgAfter p{
	color: #00ffff;
}
.side_bar ul{
	height: 70%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.side_bar ul a{
		width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
		justify-content: center;
		color: #ffffff;
		transition-duration: .3s;
		gap:10px;
}
.side_bar ul a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
#licksIcon{
	background-image: url('../resources/icon/licks-icon.png');
}
#sheetsIcon{
	background-image: url('../resources/icon/sheets-icon.png');
}
#downloadIcon{
	background-image: url('../resources/icon/forum-icon.png');
}
#profileIcon{
	background-image: url('../resources/icon/profile-icon.png');
}
.side_bar ul a:hover{
	background-color: #6256B1;
}
.con-wrap{
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	margin: auto;
}
.contents{
	position: relative;
	height: 100%;
	width:100%;
	float: left;
	margin: 0 auto;
	z-index: 1000;
}

.for_transparency{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	z-index: -99;
}
.for_transparency2{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	z-index: -99;
}
.contents header{
	height: 70px;
	width: 100%;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.headerWrap{
	width: 92.7%;
	height: 100%;
	margin: auto;
	align-items: center;
}
.contents main{
	height:calc(100% - 70px);
	width: 92.7%;
	margin: auto;
	background: #1D1E30;
}


.header-nav{
	display: inline;
}
#header-logo{
	float: left;
	height: 100%;
	font-family: "Arial Black";
	font-size: 30px;
	color: #757189;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
}
#logout{
	float: right;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
  display: flex;
	margin-left: 9.4vw;
}
#user_info{
	float: right;
	width: 27.8%;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 18px;
	color: #ffffff;
	justify-content: space-around;
	align-items: center;
	display: flex;
	white-space: nowrap;
	position: relative;
}
#user_info p{
	width: 100%;
	text-overflow: ellipsis;
	overflow:hidden;
	transition: width 1s, opacity 1s, height 1s;
}
.user_img{
    border-radius: 50%;
		padding-right: 2%;
		transition-duration: .7s;
}
.user_img img{
	width: 100%;
	border-radius: 100%;
	display: inline;
	transition-duration: .7s;
}


.top-down-menu{
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	margin-top: 70px;
	z-index: 9999;
	background-color: #332E56;
	flex-wrap: wrap;
	align-content: space-between;
	transition-duration: .3s;
	visibility: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.549));
	border: 1px solid #6256B1;
}
.top-down-menu::-webkit-scrollbar-corner{
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar {
	width: .4em;

}
.top-down-menu::-webkit-scrollbar,
.top-down-menu::-webkit-scrollbar-thumb {
	overflow:visible;
	border-radius: 4px;
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
}
.top-down-menu span{
	color: #ffffff;
	font-size: 16px;
}
.top-down-menu a{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	transition-duration: .3s;
	gap:10px;
}
.top-down-menu a:hover{
	background-color: #6256B1;
}
.top-down-menu a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#licks-icon2{
	background-image: url('../resources/icon/licks-icon.png');
}
#sheets-icon2{
	background-image: url('../resources/icon/sheets-icon.png');
}
#download-icon2{
	background-image: url('../resources/icon/forum-icon.png');
}
#profile-icon2{
	background-image: url('../resources/icon/profile-icon.png');
}


#user_info:hover .top-down-menu{
	visibility: visible;
	display: flex;
	height: 280px;
	opacity: 1;
}

#sheet-container {
	height:100%;
	width: 100%;
	position: relative;
	display: grid;
	z-index: 999;
	overflow: hidden;
	grid-template-columns: 8.1% 10.9% 38.2% 10.9% 10.9% 10.9%;
    grid-template-rows: 50px 1fr 40px;
    grid-gap: 1.56%;
    grid-template-areas:
        "plusbtn keybtn nameinput newbtn loadbtn viewbtn"
        ". . . . . ."
				". . . . . .";
}
#keysettingdiv{
	display: none;
	grid-column: 2/4;
	grid-row: 2/3;
	z-index: 1000;
	background-color: #332E56;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 60%;
	gap: 2.4%;
}
#keysettingCanvas{
	width: 90%;
	height: 35%;
}
.difficultyDom{
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	height: 20%;
	gap:3%;
}
#difficulty{
		background: linear-gradient(to right,rgba(0,255,255,1) 24%, rgba(0,255,175,1) 100%);
	  border: solid 1px #82CFD0;
	  border-radius: 8px;
	  height: 7px;
	  width: 100%;
	  outline: none;
	  transition: background 450ms ease-in;
	  -webkit-appearance: none;
		border: none;
}
#difficulty::-webkit-slider-thumb{
	-webkit-appearance: none;
	background: #ffffff;
	cursor: pointer;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border: none;
	border-radius: 100%;
}
.difficultyDom span{
	font-size: 16px;
	color: #6256B1;
	font-family: "Roboto";
	font-weight: 300;
}
.flatSharpApply{
	width: 90%;
	height: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flatDom{
	width: 26%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3%;
	border-radius: 5px;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.icon-flat{
	width: 30%;
	padding-bottom: 30%;
	background-image: url('../resources/icon/그룹 87@2x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.sharpDom{
	width: 26%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2%;
	border-radius: 5px;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.applyDom{
	width: 38%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3%;
	border-radius: 5px;
	background-color: #00ffff;
	color: #332E56;
	font-family: "Roboto";
	font-weight: 700;
}
#loadbtn{
	width: 100%;
	height: 100%;
	grid-area: loadbtn;
	box-sizing: border-box;
	border-radius : 5px;
	/* background-color: #342e54;
	color: #00ffff; */
	background: #1D1E30;
	border: 1px solid #656672;
	display: table;
	color:#656672;
	font-family: "Roboto Bold";
	font-weight: 700;
	display: table;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	transition-duration: .7s;
}
.icon-load{
	width: 15%;
	padding: 15%;
	background-image: url('../resources/icon/load_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-new{
	width: 15%;
	padding: 15%;
	background-image: url('../resources/icon/new_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-edit{
	width: 15%;
	padding: 15%;
	background-image: url('../resources/icon/edit_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-delete{
	width: 15%;
	padding: 15%;
	background-image: url('../resources/icon/empty_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-view{
	width: 15%;
	padding: 15%;
	background-image: url('../resources/icon/view.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#newbtn{
	width: 100%;
	height: 100%;
	grid-area: newbtn;
	box-sizing: border-box;
	border-radius : 5px;
	/* background-color: #342e54;
	color: #00ffff; */
	background: #1D1E30;
	border: 1px solid #656672;
	display: table;
	color:#656672;
	font-family: "Roboto Bold";
	font-weight: 700;
	display: table;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	transition-duration: .7s;
}

#plusbtn{
	width: 100%;
	height: 100%;
	grid-area: plusbtn;
	border-radius : 5px;
	background-color: #342e54;
	color: #ffffff;
	font-family: "Roboto Bold";
	font-weight: 900;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#plusbtn div{
	width: 45%;
	padding-bottom: 45%;
	background-image: url("../resources/icon/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#keybtn{
	width: 100%;
	height: 100%;
	grid-area: keybtn;
	border-radius : 5px;
	background-color: #342e54;
	color: #ffffff;
	font-family: "Roboto Bold";
	font-weight: 700;
	display: table;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#editbtn{
	width: 100%;
	height: 100%;
	grid-area: editbtn;
	transition-duration: .7s;
	box-sizing: border-box;
	border-radius : 5px;
	background: #1D1E30;
	border: 1px solid #656672;
	display: table;
	color:#656672;
	font-family: "Roboto Bold";
	font-weight: 700;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	z-index: -99;
}
#deletebtn{
	width: 100%;
	height: 100%;
	grid-area: deletebtn;
	transition-duration: .7s;
	box-sizing: border-box;
	border-radius : 5px;
	background: #1D1E30;
	border: 1px solid #656672;
	display: table;
	color:#656672;
	font-family: "Roboto Bold";
	font-weight: 700;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
		grid-column: 5 / 6;
    grid-row: 1 / 2;
		z-index: -99;
}
#viewbtn{
	width: 100%;
	height: 100%;
	grid-area: viewbtn;
	border-radius : 5px;
	background-color: #342e54;
	color: #ffffff;
	font-family: "Roboto Bold";
	font-weight: 700;
	display: table;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#editNameInput{
	width: 100%;
	height: 100%;
	grid-area: nameinput;
	background-color: #342e54;
	border-radius : 5px;
	border: none;
	color: #ffffff;
	font-family: "Roboto Bold";
	text-align: center;
	padding: 0;
}

#editNameInput:focus{
	outline:none;
}
#licklist{
	width: 100%;
	height: 100%;
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	overflow-x: hidden;
	overflow-y: auto;
	background: #1D1E30;
	display: flex;
	gap: 4% 0;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
}
#licklist::-webkit-scrollbar-corner{
	background: #1D1E30;
}
#licklist::-webkit-scrollbar {
	width: .4em;

}
#licklist::-webkit-scrollbar,
#licklist::-webkit-scrollbar-thumb {
	overflow:visible;
	border-radius: 4px;
	background: #1D1E30;
}
#licklist::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
}

	.ui-state-default{
		width: 100%;
		border: none;
		background-color: #1D1E30;
		overflow: hidden;
	}
	.ui-state-highlight{
		width: 100%;
		height: 1%;
		background-color: #6256B1;
		border: none;
		border-radius: 5px;
	}

	.btn-wrapper{
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		gap:2%;
	}
	.btn-wrapper p{
		font-family: "Roboto";
	}
	.btn-wrapper span{
		width: 15%;
		padding-bottom: 15%;
	}

	.disappear{
		display: inline-block;
	}
	.stay{
		display: inline-block;
	}


footer{
	height:7.3%;
	width: 100%;
	float: left;
	margin: auto;
	text-align: center;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#dumpster{
	position: relative;
	width: 100%;
	height: 80%;
	grid-column: 1/ -1;
	grid-row: 3/4;
	background-color: #1D1E30;
	border-radius: 5px;
	border: 1px solid #342e54;
	transition-duration: .3s;
	background-image: url('../resources/icon/그룹 121@2x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.logo{
	font-family: "Arial Black";
	font-size: 20px;
	color: #757189;
	padding: .7vh;
}
.contactinfos{
	font-family: "Roboto Light";
	font-size: 14px;
	padding: 0.46vh;
	color: #757189;
}
.contactinfos p{
	padding-bottom: 0.46vh;
}




/* footer */

@media (max-aspect-ratio: 10/9) {
	.top-down-menu {
		width: 150%;
	}
	#plusbtn div{
		width: 60%;
		padding-bottom: 60%;
	}
}
@media (min-aspect-ratio: 11/9) {
	#licklist{
		justify-content: flex-start;
	}
	.ui-state-default,
	.ui-state-highlight{
		width: 49%;
	}
}
@media (min-aspect-ratio: 90/67) {
	footer{
		display: none;
	}
	#keysettingdiv{
		grid-column: 2/3;
		width: 300%;
	}
}

@media (max-width: 750px) {
	.disappear{
		display: none;
	}
	.stay{
		font-size: 14px;
	}
	.btn-wrapper span{
		width: 25%;
		padding-bottom: 25%;
	}
}
@media (max-width: 600px) {
	.btn-wrapper span{
		width: 35%;
		padding-bottom: 35%;
	}
}
@media (max-width: 400px) {
	.contents header {
		height: 50px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}
	.btn-wrapper span{
		width: 50%;
		padding-bottom: 50%;
	}

}
@media (max-aspect-ratio: 5/6) {
	.contents header {
		height: 50px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}
	p{
		font-size: 17px;
	}
	#keysettingDiv p{
		font-size: 16px;
	}
	#user_info{
		justify-content: flex-end;
	}
	#user_info p{
		opacity: 0;
		width: 0;
		height: 0;
	}
	#user_info:hover .top-down-menu{
		visibility: hidden;
		display: none;
	}
	#logout{
		display:none;
	}
	#keysettingdiv{
		grid-column: 2/5;
	}
}
