html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  list-style: none;
  text-decoration: none;
	font-family: cursive;
}

body{
	touch-action: none;
	background: #f8f9fb;
	height: 100vh;
	min-height: 100vh;
  width: 100vw;
  overflow: hidden;
	transition: background-color .3s;
}
.side_bar {
	position: absolute;
  top: 0;
	right: -100%;
  width: 80%;
  height: 100%;
  background: #EAECF1;
	transition-duration: .3s;
	z-index: 9999;
}

.side_bar_contents{
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.closeDiv{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 35px;
	height: 35px;
	background-image: url('../resources/icon/close_simple.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	z-index:9999;
	cursor: pointer;
}
.logoutDiv{
	position: absolute;
	top: 30px;
	right: 20px;
	z-index:9999;
}
.logoutDiv{
	font-size: 16px;
	color: #ffffff;
	font-family: "Roboto Light";
}
.side_bar_contents p{
	width: 100%;
	height: 20%;
	color: #006fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.userImgSidebar{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.contemp{
		position: absolute;
    width: 30%;
    height: 50%;
}
.userImgSidebar img{
	width: 30%;
	align-self: center;
	border-radius: 100%;
}
.imgAfter{
	position: absolute;
	left: 70%;
	bottom: 0;
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
}
.imgAfter p{
	color: #006fff;
}
.side_bar ul{
	height: 70%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.side_bar ul a{
		width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
		justify-content: center;
		color: #444A47;
		transition-duration: .3s;
		gap:10px;
}
.side_bar ul a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
#licksIcon{
	background-image: url('../resources/icon/simlicks.png');
}
#sheetsIcon{
	background-image: url('../resources/icon/simsheets.png');
}
#downloadIcon{
	background-image: url('../resources/icon/simforum.png');
}
#profileIcon{
	background-image: url('../resources/icon/simprofile.png');
}
.side_bar ul a:hover{
	background-color: #9C9CA7;
}
.con-wrap{
	width: 100%;
	height: 92.7%;
	display: flex;
  align-items: center;
  justify-content: center;
	margin: auto;
	overflow: hidden;
	transition-duration: .3s;
}
.contents{
	position: relative;
	width:100%;
	height: 100%;
	float: left;
	margin: 0 auto;
}

.contents header{
	height: 50px;
	width: 100%;
	background: #ffffff;
	transition-duration: .3s;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.headerWrap{
	width: 80.7%;
	height: 100%;
	margin: auto;
	align-items: center;
}
.header-nav{
	display: inline;
}
#header-logo{
	float: left;
	height: 100%;
	font-family: "Arial Black";
	font-size: 30px;
	color: #1936FE;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
}
#logout{
	float: right;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
  display: flex;
	margin-left: 9.4%;
}


#user_info{
	float: right;
	width: 27.8%;
	height: 100%;
	font-family: "Roboto Regular";
	font-size: 18px;
	color: #444A47;
	justify-content: space-around;
	align-items: center;
	display: flex;
	white-space: nowrap;
	position: relative;
}
#user_info p{
	width: 100%;
	text-overflow: ellipsis;
	overflow:hidden;
	transition: width 1s, opacity 1s, height 1s;
}
.user_img{
    border-radius: 50%;
		padding-right: 2%;
		transition-duration: .7s;
}
.user_img img{
	width: 35px;
	border-radius: 100%;
	display: inline;
	transition-duration: .7s;
	filter: drop-shadow(0 2px 6px #000000);
}


.top-down-menu{
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	margin-top: 70px;
	z-index: 9999;
	background-color: #EAECF1;
	flex-wrap: wrap;
	align-content: space-between;
	transition-duration: .3s;
	visibility: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.549));
	border: 1px solid #006fff;
}
.top-down-menu::-webkit-scrollbar-corner{
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar {
	width: .4em;

}
.top-down-menu::-webkit-scrollbar,
.top-down-menu::-webkit-scrollbar-thumb {
	overflow:visible;
	border-radius: 4px;
	background: #332E56;
}
.top-down-menu::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
}
.top-down-menu span{
	color: #444A47;
	font-size: 16px;
}
.top-down-menu a{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #EAECF1;
	transition-duration: .3s;
	gap:10px;
}
.top-down-menu a:hover{
	background-color: #9C9CA7;
}
.top-down-menu a div{
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#licks-icon2{
	background-image: url('../resources/icon/simlicks.png');
}
#sheets-icon2{
	background-image: url('../resources/icon/simsheets.png');
}
#download-icon2{
	background-image: url('../resources/icon/simforum.png');
}
#profile-icon2{
	background-image: url('../resources/icon/simprofile.png');
}


#user_info:hover .top-down-menu{
	visibility: visible;
	display: flex;
	height: 280px;
	opacity: 1;
}
.contents main{
	height:calc(100% - 100px);
	width: 80.7%;

	margin: auto;
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.contents main::-webkit-scrollbar-corner{
	background: #1D1E30;
}
.contents main::-webkit-scrollbar {
	width: .4em;

}
.contents main::-webkit-scrollbar,
.contents main::-webkit-scrollbar-thumb {
	overflow:visible;
	border-radius: 4px;
	background: #1D1E30;
}
.contents main::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
}

#form-container {
	width: 100%;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	z-index: 999;

}

#setting-form{
	display: none;
}

.profile-header{
	position: relative;
	Height:25%;
	Width:100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 20px
}

.profile-pic{
	position: relative;
	/* width:200px;
	height:200px; */

}
.profile-pic img{
	width:80px;
	height:80px;
	border-radius: 100%;
	padding: 5px;
	filter: drop-shadow(0 2px 2px #000000);
}
.profile-pic div{
	position: absolute;
	content: "";
	background-image: url('../resources/icon4setting/btn_edit_sim.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
	width:35%;
	Height:35%;
	left: 65%;
	top: 65%;
	display: flex;
    justify-content: center;
}


.profile-dpname{
}

.dpname{
	height: 50%;
}
.dpNickname{
	font-family: "Roboto Medium";
	color: #1936FE;
	font-size: 24px;
	font-weight: 700;
}
.dpEmail{
	font-family: "Roboto Light";
	color: #444A47;
	font-size: 18px;
}
.follow{
	color: #1936FE;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 22px;
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-left: auto;
	flex-wrap: wrap;
}
.follow div{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.follow span{
	text-align: center;
	width: 100%;
}
.follow p{
	text-align: center;
	width: 100%;
}
.followbtn{

}
.theme{
	overflow: visible;
	margin-left: auto;
}
.theme-blocks{
	position: relative;
	float:left;
	background-color: #EAECF1;
	color:#9C9CA7;
	font-family: "Roboto Medium";
	font-weight: 700;
	text-align: center;
	box-sizing: border-box;
	border-radius: 15px;
	width: 80px;
	height: 80px;
	margin-right: 10px
}
.theme-icons{
	height: 70%;
}
#simple{
	background-color: #F8F9FB;
	border: 3px solid #1936FE;
	color: #1936FE;
	filter: drop-shadow(0 10px 10px #DDDFE1);
}

.theme-dark{
	background: url("../resources/icon4setting/simdark.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position:center;
}
.theme-simple{
	background: url("../resources/icon4setting/simsim.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position:center;
}
.theme-pastel{
	background: url("../resources/icon4setting/simpas.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position:center;
}



label{
	color: #006FFF;
	font-family: "Roboto Light";
	font-size: 18px;
	margin-bottom: 10px;
	transition-duration: .3s;
}
.profile-contents{
	font-family: "Roboto Medium";
	width: 100%;
}
#nickname{
	background-color: #006FFF;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	margin: 10px 0 ;
    height: 50px;
    width: 200px;
    padding-left: 10px;
		font-family: "Roboto";
		transition-duration: .3s;
}
#nickname:focus{
	outline:none;
	opacity: .8;
}
#detail{
	background-color: #006FFF;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	margin: 10px 0 ;
    height: 150px;
    width: 500px;
    padding-left: 10px;
		font-family: "Roboto";
		transition-duration: .3s;
}
#detail::placeholder{
	color: #eee;
}
#detail:focus{
	outline:none;
	opacity: .8;
}

textarea {
  resize: none;
}

.savebtn, .followbtn{
	border-radius : 15px;
	background: #006fff;
	display: table;
	font-family: "Roboto Bold";
	font-weight: 700;
	color: #ffffff;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	text-align: center;
	width: 150px;
	height: 70px;
	margin:  20px auto;
	cursor: pointer;
}
.payment{
	width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
		margin-top: 10px
}
#goPro{
	width: 150px;
    height: 70px;
    background: #006fff;
    font-family: "Roboto Bold";
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    border-radius: 15px;
    margin: auto;
		cursor: pointer;
		font-size: 24px;
}
.payment span{
	color: #9C9CA7;
    width: 100%;
    text-align: center;
    padding: 10px;
		font-family: "Roboto";
		font-size: 14px;
		margin-bottom: 10px;
}
.savebtn p, .followbtn p{
	display: inline;
	text-align: center;
	display: table-cell;
  vertical-align: middle;
	font-size: 24px;
	cursor: pointer;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height:7.3%;
	width: 100%;
	float: left;
	margin: auto;
	text-align: center;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.logo{
	font-family: "Arial Black";
	font-size: 18px;
	color: #9C9CA7;
}
.contactinfos{
	font-family: "Roboto Light";
	font-size: 12px;
	color: #9C9CA7;
}




/* footer */

@media (max-aspect-ratio: 10/9) {
	.top-down-menu {
		width: 150%;
	}
}
@media (min-aspect-ratio: 100/47) {
	footer{
		display: none;
	}
}

@media (max-width: 770px) {

	.headerWrap{
		width: 92.7%;
	}
	.contents main{
		width: 92.7%;
	}
	#detail{
		width: 90%;
	}
}
@media (min-width: 1000px) {
	.headerWrap{
			width: 70.7%;
	}
	.contents main{
			width: 70.7%;
	}
}
@media (max-width: 400px) {
	.contents header {
		height: 50px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}
}
@media (max-aspect-ratio: 5/7) {
	.contents header {
		height: 50px;
	}
	.user_img img{
		width: 30px;
	}
	.top-down-menu {
		margin-top: 50px;
	}
	.top-down-menu a {
		height: 50px;
	}

	#user_info{
		justify-content: flex-end;
	}
	#user_info p{
		opacity: 0;
		width: 0;
		height: 0;
	}
	#user_info:hover .top-down-menu{
		visibility: hidden;
		display: none;
	}
	#logout{
		display:none;
	}
}
