<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Solo Master</title>
    {{if (eq .Theme "dark")}}
    <link rel="stylesheet" href="static/css/dark_sharesheets.css"/>
    {{else if (eq .Theme "simple")}}
    <link rel="stylesheet" href="static/css/simple_sharesheets.css"/>
    {{else if (eq .Theme "pastel")}}
    <link rel="stylesheet" href="static/css/pastel_sharesheets.css"/>
    {{end}}
    <script src="https://kit.fontawesome.com/6743146fd8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/resources/treble_clef.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#000000"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <script src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
  </head>
  <body>
    <div class="side_bar" id="side_bar">
      <div class="side_bar_contents">
        <div id="closeDiv" class="closeDiv">

        </div>
        <div class="logoutDiv">
          <a href="/logout"><p>Logout</p></a>
        </div>
        <div class="userImgSidebar">
          <div id="contemp" class="contemp">
            <div class="imgAfter">
              <p>edit</p>
            </div>
          </div>
          <img id="sidebarImg" src="{{.Picture}}" alt="">
        </div>
        <p>{{.Given_name}}</p>
      </div>
      <ul>
        <a href="/setting"><div id="profileIcon"></div><li>Profile</li></a>
        <a href="/mylicks"><div id="licksIcon"></div><li>My Licks</li></a>
        <a href="/mysheets"><div id="sheetsIcon"></div><li>My Sheets</li></a>
        <a href="/forum"><div id="downloadIcon"></div><li>Forum</li></a>
      </ul>
    </div>
    <div class="con-wrap">
      <div class="for_transparency">

      </div>
      <div class="contents">
        <header>
          <div class="headerWrap">
            <div id="header-logo" class="header-nav">

              {{if (eq .Theme "dark")}}
              <h2><a href="/"style="color:#ffffff;">MY LICKS</a></h2>
              {{else if (eq .Theme "simple")}}
              <h2><a href="/"style="color:#1936FE;">MY LICKS</a></h2>
              {{else if (eq .Theme "pastel")}}
              <h2><a href="/"style="color:#ffffff;">MY LICKS</a></h2>
              {{end}}
            </div>


            <div id="logout" class="header-nav">

              {{if (eq .Theme "dark")}}
              <p><a href="/logout" style="color: #757189;">Logout</a></p>
              {{else if (eq .Theme "simple")}}
              <p><a href="/logout" style="color: #9C9CA7;">Logout</a></p>
              {{else if (eq .Theme "pastel")}}
              <p><a href="/logout" style="color: #B6EBF3;">Logout</a></p>
              {{end}}
            </div>
            <div id="user_info" class="header-nav">
              <div class="user_img" id="user_img">
                <img src="{{.Picture}}" alt="No Image">
              </div>
              <p>{{.Given_name}}</p>
              <div class="top-down-menu">
                <a href="/setting">
                  <div id="profile-icon2"></div>
                  <span>Profile</span>
                </a>
                <a href="/mylicks">
                  <div id="licks-icon2"></div>
                  <span>My Licks</span>
                </a>
                <a href="/mysheets">
                  <div id="sheets-icon2"></div>
                  <span>My Sheets</span>
                </a>
                <a href="/forum">
                  <div id="download-icon2"></div>
                  <span>Forum</span>
                </a>
              </div>
            </div>
          </div>
        </header>
        <div class="subheaderNav">
          <div class="headerNavWrap">
            <ul>
              <a href="/sharelicks"><li id="licknav">Licks</li></a>
              <a href="/sharesheets"><li id="sheetnav">Sheets</li></a>
              <a href="/forum"><li id="discussnav">Discussion</li></a>
              <a href="/users"><li id="popnav">Users</li></a>
            </ul>
          </div>
        </div>
        <main id="main-container">
          <div class="posts">
            <div class="postul">

            </div>
              <div class="loadmorebtn">
                Load more...
              </div>
          </div>
          <div class="gAd">

          </div>
          <div class="trending">
            <p class="lable">Trending</p>
            <ul>

            </ul>
          </div>
          <div class="topUsers">
            <p class="lable">Top Users of the Week</p>
            <ul>

            </ul>
          </div>
        </main>
      </div>
    </div>
    <footer>
        <div class="copyright">
          <div class="logo">
            <p class="footer-text" id="textlogo">My Licks</p>
          </div>
          <div class="contactinfos">
            <p class="footer-text" id="copyright">Copyright (c) 2020 Toby Kim </p>
          </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
    function k_keycen(k) {
      switch (k) {
        case 0:
          return "C#";
        break;
        case 1:
          return "F#";
        break;
        case 2:
          return "B";
        break;
        case 3:
          return "E";
        break;
        case 4:
          return "A";
        break;
        case 5:
          return "D";
        break;
        case 6:
          return "G";
        break;
        case 7:
          return "C";
        break;
        case 8:
          return "F";
        break;
        case 9:
          return "Bb"
        break;
        case 10:
          return "Eb";
        break;
        case 11:
          return "Ab";
        break;
        case 12:
          return "Db";
        break;
        case 13:
          return "Gb";
        break;
        case 14:
          return "Cb";
        break;
      }
    }
      var calendar = ["Jan","Feb","Mar","Apr","May","Jun","July","Aug","Sep","Oct","Nov","Dec"];
      var userID = {{.ID}};
      var sortedSheets =[];
      var loadedSheets = [];
      let myMap = new Map()
      var payload;
      var num;
      var arry =[];
      var inval;
      var skip = 0;
      var morePosts = true;
      var selected = false;
      var selectedToggle = false;
      var json_data={
        "filter": "0",
        "skip": skip.toString(),
        "query": ""
      };
      var xhr = new XMLHttpRequest();

      xhr.addEventListener('readystatechange', function(){
        if(xhr.readyState === XMLHttpRequest.DONE){
          if (xhr.status === 200) {
            var item = xhr.responseText;
            payload = JSON.parse(item);
            sortedSheets = payload.licks;
            if(sortedSheets){
              loadedSheets = loadedSheets.concat(sortedSheets);
              for (var i = 0; i < loadedSheets.length; ++i) {
                myMap.set(loadedSheets[i].id, false);
              }
            }else{
              alert("there are no more licks to load. follow more people or go to practice");
              $(".loadmorebtn").css("display", "none");
            }

            num = parseInt(payload.num);
            if(num<7){
              morePosts = false;
            }
            if(sortedSheets){
              getHtml()
            }
         }
        }
      });
      xhr.open('POST', '/getSharedSheets', true);
      xhr.setRequestHeader('Content-Type', 'application/xml');
      xhr.send(JSON.stringify(json_data));

      function getHtml() {
        arry=[];
        if(sortedSheets){
          sortedSheets.forEach(function(sheet, index){
            var item = '<div class="sheets" id="' + sheet.id +'" onclick="hightlight(this.id)"><div class="sheetHeader"><div class="sheetHeaderTitle"><p class="sheetTitle">'+ sheet.name +'</p><p class="sheetKey"> Key  /  '+ k_keycen(parseInt(sheet.key)) +' key</p></div><div class="sheetAuthor" value="'+sheet.id+'"><img src="'+sheet.AuthorImage+'" alt="No Image"><div class="authorid">'+sheet.Author+'</div></div><div id="'+sheet.id+'-diff'+'" class="dpiculty" value="'+sheet.Difficulty+'"><ul></ul></div></div><div class="sheetContents" id="' + sheet.id +'-canvas"><p>Measures : '+sheet.data.length+'</p></div><div class="sheetOpen" value="'+sheet.id+'"><p>Open</p></div></div>';
            arry.push(item);
          });
          $('.postul').append(arry);

          var arry2 = [];

          for(var i=0; i<25; i++){
            var lis = "<li value="+i+"></li>"
          arry2.push(lis);
          }
          $('.dpiculty ul').html(arry2);
        }

        for (var i = 0; i < loadedSheets.length; i++) {
          var domdiff = document.getElementById(loadedSheets[i].id+"-diff");
          var numberOfBlocks = parseInt(domdiff.getAttribute("value")/4);
          for (var ii = 0; ii < numberOfBlocks; ii++) {
            {{if (eq .Theme "dark")}}
            domdiff.children[0].children[ii].style.background="linear-gradient(100deg, rgba(0,255,255,1)"+ (25-ii)*3.5+ "% , rgba(0,255,175,1) "+ii*3.5+ "%)";
            {{else if (eq .Theme "simple")}}
            domdiff.children[0].children[ii].style.background="#1936FE"
            {{else if (eq .Theme "pastel")}}
            domdiff.children[0].children[ii].style.background="#FFAC90";
            {{end}}
          }
        }

        $(".sheetOpen").unbind("click");
        $(".sheetAuthor").unbind("click");
        $(".sheetOpen").click(function (e) {
          var str = $(this).attr("value")

          if(selected_id == str){
            console.log(str)
            var uri = '/visitsheet?q=' + str;
            window.location.href = uri;
          }
        });
        $(".sheetAuthor").click(function (e) {
          var str = $(this).attr("value")
          console.log(str)
          if(selected_id == str){
            console.log(str)
            var uri = '/vpfs?q=' + str;
            window.location.href = uri;
          }
        });

      }


      function hightlight(str) {
        selected_id=str;
        selectedToggle = true;
        if(loadedSheets){
          for (var i = 0; i < loadedSheets.length; ++i) {
            myMap.set(loadedSheets[i].id, false);
          }
        }
        if(str != ""){
          myMap.set(str, true);
          var index = getIndexOfSheets(str);
        }
        for (let [key, value] of myMap) {
          if (value === true){
            {{if (eq .Theme "dark")}}
              document.getElementById(key).style.border = 'none';
              document.getElementById(key).style.backgroundColor = '#332E56';
              document.getElementById(key).children[0].children[1].style.color='#ffffff';
              document.getElementById(key).children[2].style.backgroundColor="#6256B1";
              document.getElementById(key).children[2].style.borer="none";
              document.getElementById(key).children[2].style.color="#ffffff";
            {{else if (eq .Theme "simple")}}
              document.getElementById(key).style.border = '1px solid #1936FE';
              document.getElementById(key).style.backgroundColor = '#F8F9FB';
              document.getElementById(key).children[0].children[1].style.color='#1936FE';
              document.getElementById(key).children[0].children[0].children[1].style.color='#1936FE';
              document.getElementById(key).children[1].children[0].style.color='#1936FE';
              document.getElementById(key).children[2].style.backgroundColor="#1936FE";
              document.getElementById(key).children[2].style.borer="none";
              document.getElementById(key).children[2].style.color="#ffffff";
            {{else if (eq .Theme "pastel")}}
              document.getElementById(key).style.border = '1px solid #74D4E4';
              document.getElementById(key).style.backgroundColor = '#F8F9FB';
              document.getElementById(key).children[0].children[1].style.color='#74D4E4';
              document.getElementById(key).children[0].children[0].children[1].style.color='#74D4E4';
              document.getElementById(key).children[1].children[0].style.color='#74D4E4';
              document.getElementById(key).children[2].style.backgroundColor="#74D4E4";
              document.getElementById(key).children[2].style.borer="none";
              document.getElementById(key).children[2].style.color="#ffffff";
            {{end}}
          }else{
            {{if (eq .Theme "dark")}}
              document.getElementById(key).style.border = '1px solid #332E56';
              document.getElementById(key).style.backgroundColor = '#1D1E30';
              document.getElementById(key).children[0].children[1].style.color='#6256B1';
              document.getElementById(key).children[2].style.backgroundColor="#1D1E30";
              document.getElementById(key).children[2].style.borer="1px solid #6256B1";
              document.getElementById(key).children[2].style.color="#6256B1";
            {{else if (eq .Theme "simple")}}
              document.getElementById(key).style.border = "1px solid #444A47";
              document.getElementById(key).style.backgroundColor = '#F8F9FB';
              document.getElementById(key).children[0].children[1].style.color='#444A47';
              document.getElementById(key).children[0].children[0].children[1].style.color='#444A47';
              document.getElementById(key).children[1].children[0].style.color='#9C9CA7';
              document.getElementById(key).children[2].style.backgroundColor="#F8F9FB";
              document.getElementById(key).children[2].style.borer="1px solid #444A47";
              document.getElementById(key).children[2].style.color="#444A47";
            {{else if (eq .Theme "pastel")}}
              document.getElementById(key).style.border = "1px solid #BFBFCB";
              document.getElementById(key).style.backgroundColor = '#F8F9FB';
              document.getElementById(key).children[0].children[1].style.color='#444A47';
              document.getElementById(key).children[0].children[0].children[1].style.color='#444A47';
              document.getElementById(key).children[1].children[0].style.color='#BFBFCB';
              document.getElementById(key).children[2].style.backgroundColor="#F8F9FB";
              document.getElementById(key).children[2].style.borer="1px solid #BFBFCB";
              document.getElementById(key).children[2].style.color="#BFBFCB";
            {{end}}
          }
        }
      }
      function getIndexOfSheets(id) {
        var index = loadedSheets.findIndex(function (element) {
          if (element.id == id) {
            return true
          }else{
            return false;
          }
        });
        return index;
      }
      $("body").click(function (e) {
        if(!selectedToggle){
          hightlight("");
          selected_id = "";
          }else{
          selectedToggle = false;
        }
      });

      $(".loadmorebtn").click(function(e){
        if(morePosts){
          if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
             skip += 7;
             json_data={
               "filter": "0",
               "skip": skip.toString(),
               "query": ""
             };
             xhr.open('POST', '/getSharedLicks', true);
             xhr.setRequestHeader('Content-Type', 'application/xml');
             xhr.send(JSON.stringify(json_data));
          }
        }else{
          alert("there are no more licks to load. follow more people or go to practice");
          $(".loadmorebtn").css("display", "none");
        }
      });

      var user_img = document.getElementById("user_img");
      user_img.addEventListener('touchend', function () {
        if(window.innerWidth/window.innerHeight < .71428){
          $('#side_bar').css('right', '0');
          $('.for_transparency').css('z-index', '9998');
          $('.for_transparency').css('background-color', 'rgba(20,20,20,.5)');
        }
      });
      user_img.addEventListener('click', function () {
        if(window.innerWidth/window.innerHeight < .71428){
          $('#side_bar').css('right', '0');
          $('.for_transparency').css('z-index', '9998');
          $('.for_transparency').css('background-color', 'rgba(20,20,20,.5)');
        }
      });
      var sidebarImg = document.getElementById('sidebarImg');
      sidebarImg.addEventListener('click', function () {
        window.location.href = '/setting';
      });
      var contemp = document.getElementById('contemp');
      contemp.addEventListener('click', function () {
        window.location.href = '/setting';
      });
      var closeDiv = document.getElementById('closeDiv');
      closeDiv.addEventListener('click', function () {
        $('#side_bar').css('right', '-100%');
        $('.for_transparency').css('z-index', '-99');
        $('.for_transparency').css('background-color', 'rgba(20,20,20,0)');
      });
      closeDiv.addEventListener('touchend', function () {
        $('#side_bar').css('right', '-100%');
        $('.for_transparency').css('z-index', '-99');
        $('.for_transparency').css('background-color', 'rgba(20,20,20,0)');
      });

      window.addEventListener('resize', function () {
        if(window.innerWidth/window.innerHeight < .71428){

          $('#side_bar').css('right', '-100%');
          $('.for_transparency').css('z-index', '-99');
          $('.for_transparency').css('background-color', 'rgba(20,20,20,0)');
        }
      });
    </script>
  </body>
</html>
